PGRUNNER_CACHE=/app/data

KRAFTKIT_BUILDKIT_HOST=unix:///run/buildkit/buildkitd.sock

KRAFTKIT_NO_PROMPT=true

KRAFTKIT_LOG_TYPE=basic
KRAFTKIT_NO_COLOR=true
KRAFTKIT_NO_CHECK_UPDATES=true

NATS_CLIENT_PORT=4222
NATS_MONITOR_PORT=8222

PGRUNNER_BROKER=nats:4222
PGRUNNER_BROKER_SUBNET=172.200.0.1/24